<h1><%= @workspace.name %></h1>
<p><%= @workspace.description %></p>

<h2>Channels</h2>
<ul>
  <%= for c <- @workspace.channels do %>
    <li><%= link c.name, to: Routes.channel_path(@conn, :show, c.id) %></li>
  <% end %>
</ul>

<%= link "Create a Channel", to: Routes.channel_path(@conn, :new, workspace_id: @workspace.id) %>
