

<section class="row">
  <article class="column">
    <%= if @current_user do %>
      <ul>
        <li><%= link "Create a Workspace", to: Routes.workspace_path(@conn, :new) %></li>
        <li><%= link "Your Workspaces", to: Routes.workspace_path(@conn, :index) %></li>
      </ul>
    <% end %>
  </article>

</section>
